@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Pacifico&family=Playfair+Display&family=Poppins:wght@400;700&display=swap');


@import "reset.scss";

// content max-width: 1152px + 48px;

/* Large desktops and laptops /
@media (min-width: 1200px) {}
/ Landscape tablets and medium desktops /
@media (min-width: 992px) and (max-width: 1199px) {}
/ Portrait tablets and small desktops /
@media (min-width: 768px) and (max-width: 991px) {}
/ Landscape phones and portrait tablets /
@media (min-width: 481px) and (max-width: 767px) {}
/ Portrait phones and smaller /
@media (min-width: 321px) and (max-width: 480px) {}
/ Iphone 5 /
@media (max-width: 320px) {} */

html, body{
    font-family: 'Libre Franklin';
}

.title{
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 700;
    line-height: 121%;
    color: #000000;
    span{
        font-family: 'Playfair Display';
        font-size: 68px;
        line-height: 10px;
        color: #AC1313;
    }
}
.subtitle{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #D77474;
    
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 51;
    background-color: #fff;
    &__content{
        position: relative;
        z-index: 2;
        background-color: #fff;
        max-width: 1200px;
        height: 91px;
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 1199px){
            max-width: 992px;
        }
        @media (min-width: 768px) and (max-width: 991px) {
            max-width: 768px;
        }
        @media (max-width: 767px) {height: 60px;}
        &::before{
            display: none;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            z-index: 1;
            @media (max-width: 767px) {display: block;}
        }
    }
    &__logo {
        position: relative;
        z-index: 1;
        height: 91px;
        padding-top: 20px; //13px;
        font-family: 'Pacifico';
        font-size: 33px;
        line-height: 1.21;
        text-align: center;
        color: #000000;
    }
    &__burger{
        display: none;
        position: relative;
        z-index: 1;
        @media (max-width: 767px) {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            &::before, &::after{
                content: '';
                background-color: #000;
                border-radius: 2px;
                position: absolute;
                width: 100%;
                height: 4px;
                left: 0;
            }
            &::before{
                top: 0;
            }
            &::after{
                bottom: 0;
            }
            & span{
                background-color: #000;
                border-radius: 2px;
                position: absolute;
                width: 100%;
                height: 4px;
                left: 0;
                top: 8px;
            }
        }
    }
}
.menu {
    display: flex;
    
    align-items: center;
    font-family: 'Poppins';
    @media (max-width: 767px) {
        display: none;
        &_active{
            display: flex;
        }
        padding-top: 50px;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 1);
    }
    &__list {
        display: flex;
        align-items: center;
        @media (max-width: 767px) {
            flex-direction: column;
        }
        &::after{
            content: '';
            display: inline-block;
            height: 41px;
            width: 1px;
            background-color: #EBEBEB;
            margin: 0 17px 0 19px;
            @media (max-width: 767px) {
                width: 41px; height: 1px;
                margin: 20px 0 30px 0;
                background-color: #6C6C6C;
            }
        }
    }
    &__link {
        margin: 0 20px;
        font-family: 'Poppins';
        font-size: 12px;
        line-height: 1.83;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #6C6C6C;
        @media (max-width: 767px) {
            display: block;
            padding: 10px 0;
            font-size: 24px;
            color: #000;
        }
        &_active {
            color: #AC1313;
        }
    }
    &__cart {
        font-family: 'Libre Franklin';
        font-size: 14px;
        line-height: 1.43;
        text-align: center;
        color: #000000;

        position: relative;
        padding-left: 25px;
        @media (max-width: 767px) {
            font-size: 24px;
            padding-left: 40px;
        }
        &::before{
            position: absolute;
            left: 0;
            top: 0;
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            background-image: url(../img/svg/header-cart.svg);
            background-repeat: no-repeat;
            background-size: contain;
            @media (max-width: 767px) {
                width: 30px;
                height: 30px;
                background-size: contain;
            }
        }
    }
}

.main{
    padding-top: 91px;
    @media (max-width: 767px) {
        padding-top: 60px;
    }
}

.promo {
    background-image: url(../img/jpg/promo-bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    &__container{
        width: 1200px;
        margin: 0 auto;
        padding: 192px 15px 211px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 1199px){
            width: 992px;
        }
        @media (max-width: 991px) {
            width: 768px;
            padding: 88px 15px 100px;
            // aaaaaaaaaaaaaa
        }
        @media (max-width: 767px) {
            width: 100%;
            padding: 60px 15px 60px;
        }
    }
    &__content {
        width: 512px;
        @media (max-width: 767px) {
            max-width: 520px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__subtitle {
        margin-bottom: 12px;
    }
    &__title {
        font-size: 48px;
        margin-bottom: 14px;
        @media (max-width: 767px) {
            font-size: 36px;
            span{font-size: 42px;}
        }
        
    }
    &__description {
        font-family: 'Libre Franklin';
        font-size: 16px;
        line-height: 1.62;
        color: #6C6C6C;
        margin-bottom: 50px;
        @media (max-width: 1199px) {
            width: 75%;
        }
        @media (max-width: 991px) {
            width: 50%;
        }
        @media (max-width: 767px) {
            width: 100%;
            margin-bottom: 30px;
        }
    }
    &__button {
        display: inline-block;
        padding: 20px 40px;
        background: #AC1313;
        span{
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 12px;
            line-height: 1.83;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
    &__img{
        width: 10%;
        position: relative;
        @media (max-width: 767px) {
            display: none;
        }
        img{
            display: block;
            position: absolute;
            right: -80px;
            top: -65px;
            width: 784px;
            
            @media (max-width: 1199px) {
                right: -80px;
                top: -30px;
                width: 650px;
            }
            @media (max-width: 991px) {
                right: -120px;
                top: 60px;
                width: 550px;
            }
            
        }
    }
}

.categories {
    background-color: #fff;
    &__container {
        margin: 0 auto;
        padding: 120px 15px 80px;
        @media (max-width: 1199px){
            max-width: 992px;
        }
        @media (max-width: 991px) {
            padding: 88px 15px 50px;
        }
        @media (max-width: 767px) {
            padding: 60px 15px 20px;
        }
    }
    &__subtitle {
        margin-bottom: 16px;
        text-align: center;
    }
    &__title {
        text-align: center;
        margin-bottom: 60px;
        @media (max-width: 767px) {
            font-size: 32px;
            margin-bottom: 30px;
            span{font-size: 42px;}
        }
    }
    &__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 150px;
        margin-bottom: 87px;
        @media (max-width: 1199px) {
            gap: 75px;
            margin-bottom: 60px;
        }
        @media (max-width: 991px) {
            gap: 15px;
            margin: 0 -15px 60px;
        }
        @media (max-width: 767px) {
            margin-bottom: 40px;
        }
    }
    &__item {
        width: 240px;
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (max-width: 991px) {
            &:last-child{
                margin-bottom: 0;
            }
        }
        @media (max-width: 767px) {
            width: 140px;
        height: 140px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        &:nth-child(1){
            background-image: url(../img/png/cat-vases.png);
            background-repeat: no-repeat;
            background-size: contain;
        }
        &:nth-child(2){
            background-image: url(../img/png/cat-mugs.png);
            background-repeat: no-repeat;
            background-size: contain;
        }
        &:nth-child(3){
            background-image: url(../img/png/cat-plates.png);
            background-repeat: no-repeat;
            background-size: contain;
        }
        & p{
            font-family: 'Poppins';
            font-size: 14px;
            line-height: 2.71;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
    &__articles {
        display: flex;
        justify-content: center;
        margin: 0 -70px;
        @media (max-width: 1199px) {
            margin: 0 -50px;
        }
        @media (max-width: 991px) {
            margin: 0 -30px;
        }
        @media (max-width: 767px) {
            flex-wrap: wrap;
        }

    }
    &__article {
        margin: 0 70px 50px;
        @media (max-width: 1199px) {
            margin: 0 50px 50px;
        }
        @media (max-width: 991px) {
            margin: 0 30px 50px;
        }
        @media (max-width: 767px) {
            margin: 0 30px 30px;
        }
        h3{
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 29px;
            line-height: 1.24;
            color: #000000;
            max-width: 330px;
            @media (max-width: 767px) {
                font-size: 24px;
            }
        }
        p{
            font-family: 'Libre Franklin';
            font-size: 14px;
            line-height: 1.71;
            color: #6C6C6C;
            max-width: 500px;
            text-align:justify;
            
        }
    }
}

.announce {
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    background-color: #fff;
    padding-top: 77px;
    &__smallimages{
        display: none;
        @media (max-width: 767px) {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
            margin: 0 auto;
            &_1{
                height: 200px;
                img{
                    height: 170px;
                }
            }
            &_2{
                height: 200px;
                img{
                    width: 139px;
                }
            }
        }
    }
    &__conteiner {
        width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
        display: grid;
        column-gap: 86px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        @media (max-width: 1199px){
            width: 992px;
            column-gap: 64px;
        }
        @media (max-width: 991px) {
            width: 768px;
            column-gap: 64px;
        }
        @media (max-width: 767px) {
            display: block;
            width: 100%;
        }
    }
    &__img {
        @media (max-width: 767px) {
            display: none;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../img/svg/announce-bg.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 500px;
        height: 509px;
        @media (max-width: 1199px){
            width: 440px;
        }
        @media (max-width: 991px) {
            width: 320px;
        }
        @media (max-width: 767px) {
            width: 100%;
        }
        &_1{
            img{
                width: 250px;
                height: 100%;
            }
        }
        &_2{
            grid-column: 2;
            grid-row: 2;
            img{
                width: 350px;
                height: 417px;
            }
        }
    }
    &__content {
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width: 991px) {
            width: 100%;
        }
        @media (max-width: 767px) {
            max-width: 500px;
            margin: 0 auto;
        }
    }
    &__title {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 24px;
        line-height: 1.42;
        color: #000000;
        margin-bottom: 23px;
        @media (max-width: 767px) {
            margin-bottom: 14px;
        }
    }
    &__text {
        font-family: 'Libre Franklin';
        font-size: 14px;
        line-height: 1.71;
        color: #6C6C6C;
        margin-bottom: 27px;
        @media (max-width: 767px) {
            margin-bottom: 14px;
        }
    }
    &__details {
        padding: 10px 0;
        span{
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 14px;
            line-height: 1.71px;
            color: #000000;
        }
        @media (max-width: 767px) {
            margin-bottom: 28px;
            span{font-size: 18px;}
        }
    }
}

.store {
    background-color: #fff;
    &__container {
        width: 1200px;
        margin: 0 auto;
        padding: 120px 15px 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media(max-width: 1199px) {
            width: 992px;
        }
        @media(max-width: 991px) {
            width: 768px;
            padding: 80px 15px 100px;
        }
        @media(max-width: 767px) {
            width: 100%;
            padding: 40px 15px 40px;
        }
    }
    &__subtitle {
        text-align: center;
        margin-bottom: 17px;
    }
    &__title {
        text-align: center;
        margin-bottom: 63px;
        @media(max-width: 991px) {
            width: 768px;
            margin-bottom: 40px;
        }
        @media(max-width: 767px) {
            width: 100%;
            margin-bottom: 20px;
        }
    }
    &__grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    &__card {
        margin-bottom: 60px;
        @media(max-width: 991px) {
            margin-bottom: 40px;
        }
        @media(max-width: 767px) {
            margin-bottom: 20px;
        }
    }
    &__btn {
        display: inline-block;
        background: #AC1313;
        padding: 20px 40px;
        span{
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 12px;
            line-height: 1.83;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
}
.card {
    width: 371px;
    @media(max-width: 991px) {
        width: 359px;
        &:nth-child(5){
            display: none;
        }
        &:nth-child(6){
            display: none;
        }
    }
    @media(max-width: 767px) {
        width: 290px;
        &:nth-child(3){
            display: none;
        }
        &:nth-child(4){
            display: none;
        }
        &:nth-child(5){
            display: none;
        }
        &:nth-child(6){
            display: none;
        }
    }
    &__img {
        width: 100%;
    }
    &__name {
        margin-top: 20px;
        font-family: 'Libre Franklin';
        font-size: 16px;
        line-height: 1.62;
        color: #6C6C6C;
    }
    &__price {
        font-family: 'Poppins';
        font-size: 14px;
        line-height: 1.71;
        color: #000000;
    }
    &__line {
        width: 100%;
        height: 1px;
        background-color: #DBDBDB;
        margin-top: 20px;
    }
}

.new-promo {
    background-image: url(../img/jpg/new-promo-bg.jpg);
    background-repeat: no-repeat;
    background-position: 25%;
    background-size:cover;
    &__container {
        width: 1200px;
        margin: 0 auto;
        padding: 120px 15px;
        @media (max-width: 1199px){
            width: 992px;
        }
        @media (max-width: 991px) {
            width: 768px;
            padding: 88px 15px 88px;
            // aaaaaaaaaaaaaa
        }
        @media (max-width: 767px) {
            width: 100%;
            padding: 60px 15px 60px;
        }
    }
    &__content{
        max-width: 510px;
    }
    &__subtitle {
        margin-bottom: 7px;
    }
    &__title {
        font-size: 36px;
        width: 510px;
        margin-bottom: 13px;
        @media (max-width: 767px) {
            width: 100%;
        }
    }
    &__text {
        width: 440px;
        font-family: 'Libre Franklin';
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        color: #6C6C6C;
        span{
            color: #AC1313;
            text-decoration: underline;
        }
        margin-bottom: 30px;
        @media (max-width: 767px) {
            width: 100%;
        }
    }
    &__btn {
        display: inline-block;
        background: #AC1313;
        padding: 20px 40px;
        span{
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 12px;
            line-height: 1.83;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
}

.news {
    &__content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 120px 15px 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 1199px) {
            padding: 90px 15px 90px;
        }
        @media (max-width: 991px) {
            padding: 60px 15px 60px;
        }
        @media (max-width: 767px) {
            padding: 40px 15px 40px;
        }
    }
    &__image {
        width: 80px;
        margin-bottom: 40px;
    }
    &__subtitle {
        font-weight: 400;
        margin-bottom: 40px;
        @media (max-width: 767px) {
            margin-bottom: 30px;
        }
    }
    &__title {
        font-weight: 400;
        font-size: 40px;
        line-height: 1.25;
        text-align: center;
        color: #000000;
        margin-bottom: 63px;
        @media (max-width: 767px) {
            margin-bottom: 30px;
            font-size: 36px;
            span{font-size: 60px;}
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__field{
        display: flex;
        margin-bottom: 40px;
        input{
            padding: 13px 40px;
            border: 1px solid #EBEBEB;
            font-family: 'Poppins';
            font-size: 14px;
            line-height: 1.43;
            @media (max-width: 767px) {
                font-size: 10px;
                padding: 13px;
            }
            margin-right: 4px;
        }
        button{
            background: #000000;
            padding: 13px 40px;
            @media (max-width: 767px) {
                padding: 13px;
            }
            span{
                font-family: 'Poppins';
                font-size: 14px;
                line-height: 1.43;
                text-align: center;
                color: #FFFFFF;
                @media (max-width: 767px) {
                    font-size: 10px;
                }
            }
        }
    }
    &__checkbox{
        display: flex;
        justify-content: center;
        input{
            margin-right: 10px;
        }
        span{
            font-family: 'Poppins';
            font-size: 14px;
            line-height: 1.43;
            color: #A1A1A1;
        }
    }
}

.info {
    background-color: #DBDBDB1A;
    &__content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 100px 15px 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 991px) {
            padding: 50px 15px 50px;
        }
        @media (max-width: 767px) {
            padding: 30px 15px 30px;
        }
    }
    &__logo {
        font-family: 'Pacifico';
        font-size: 33px;
        line-height: 1.21;
        color: #000000;
        margin-bottom: 30px;
    }
    &__text{
        font-family: 'Libre Franklin';
        font-size: 14px;
        line-height: 1.71;
        text-align: center;
        color: #6C6C6C;
        margin-bottom: 70px;
        @media (max-width: 767px) {
            margin-bottom: 30px;
        }
    }
    &__items {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 200px;
        @media (max-width: 991px) {
            gap: 100px;
        }
        @media (max-width: 767px) {
            flex-direction: column;
            gap: 15px;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 167px;
        @media (max-width: 767px) {
            flex-direction: row;
            width: 240px;
        }
        img{
            width: 40px;
            @media (max-width: 767px) {
                margin-right: 15px;
            }
        }
        h3{
            font-family: 'Poppins';
            font-size: 13px;
            line-height: 1.77;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #000000;
            @media (max-width: 767px) {
                display: none;
            }
        }
        p{
            font-family: 'Libre Franklin';
            font-size: 14px;
            line-height: 1.71;
            text-align: center;
            color: #6C6C6C;
            @media (max-width: 767px) {
                text-align: left;
            }
        }
    }
}
.copy {
    background-color: #dbdbdb3f;
    &__content{
        max-width: 1200px;
        padding: 33px 15px 30px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: 10px;
        p{
            font-family: 'Libre Franklin';
            font-size: 12px;
            line-height: 1.83;
            text-align: center;
            color: #6C6C6C;
            span{
                color: #000000;
            }
        }
    }
}
