@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Pacifico&family=Playfair+Display&family=Poppins:wght@400;700&display=swap');


@import "reset.scss";

// content max-width: 1152px + 48px;

/* Large desktops and laptops /
@media (min-width: 1200px) {}
/ Landscape tablets and medium desktops /
@media (min-width: 992px) and (max-width: 1199px) {}
/ Portrait tablets and small desktops /
@media (min-width: 768px) and (max-width: 991px) {}
/ Landscape phones and portrait tablets /
@media (min-width: 481px) and (max-width: 767px) {}
/ Portrait phones and smaller /
@media (min-width: 321px) and (max-width: 480px) {}
/ Iphone 5 /
@media (max-width: 320px) {} */

html, body{
    font-family: 'Libre Franklin';
    background-color: #999;
}

.title{
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 700;
    line-height: 121%;
    color: #000000;
    span{
        font-family: 'Playfair Display';
        font-size: 68px;
        color: #AC1313;
    }
}
.subtitle{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #D77474;
    
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 51;
    background-color: #fff;
    &__content{
        position: relative;
        z-index: 2;
        background-color: #fff;
        max-width: 1200px;
        height: 91px;
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 1199px){
            max-width: 992px;
        }
        @media (min-width: 768px) and (max-width: 991px) {
            max-width: 768px;
        }
        @media (max-width: 767px) {height: 60px;}
        &::before{
            display: none;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            z-index: 1;
            @media (max-width: 767px) {display: block;}
        }
    }
    &__logo {
        position: relative;
        z-index: 1;
        height: 91px;
        padding-top: 20px; //13px;
        font-family: 'Pacifico';
        font-size: 33px;
        line-height: 1.21;
        text-align: center;
        color: #000000;
    }
    &__burger{
        display: none;
        position: relative;
        z-index: 1;
        @media (max-width: 767px) {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            &::before, &::after{
                content: '';
                background-color: #000;
                border-radius: 2px;
                position: absolute;
                width: 100%;
                height: 4px;
                left: 0;
            }
            &::before{
                top: 0;
            }
            &::after{
                bottom: 0;
            }
            & span{
                background-color: #000;
                border-radius: 2px;
                position: absolute;
                width: 100%;
                height: 4px;
                left: 0;
                top: 8px;
            }
        }
    }
}
.menu {
    display: flex;
    
    align-items: center;
    font-family: 'Poppins';
    @media (max-width: 767px) {
        display: none;
        &_active{
            display: flex;
        }
        padding-top: 50px;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 1);
    }
    &__list {
        display: flex;
        align-items: center;
        @media (max-width: 767px) {
            flex-direction: column;
        }
        &::after{
            content: '';
            display: inline-block;
            height: 41px;
            width: 1px;
            background-color: #EBEBEB;
            margin: 0 17px 0 19px;
            @media (max-width: 767px) {
                width: 41px; height: 1px;
                margin: 20px 0 30px 0;
                background-color: #6C6C6C;
            }
        }
    }
    &__link {
        margin: 0 20px;
        font-family: 'Poppins';
        font-size: 12px;
        line-height: 1.83;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #6C6C6C;
        @media (max-width: 767px) {
            display: block;
            padding: 10px 0;
            font-size: 24px;
            color: #000;
        }
        &_active {
            color: #AC1313;
        }
    }
    &__cart {
        font-family: 'Libre Franklin';
        font-size: 14px;
        line-height: 1.43;
        text-align: center;
        color: #000000;

        position: relative;
        padding-left: 25px;
        @media (max-width: 767px) {
            font-size: 24px;
            padding-left: 40px;
        }
        &::before{
            position: absolute;
            left: 0;
            top: 0;
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            background-image: url(../img/svg/header-cart.svg);
            background-repeat: no-repeat;
            background-size: contain;
            @media (max-width: 767px) {
                width: 30px;
                height: 30px;
                background-size: contain;
            }
        }
    }
}

.main{
    padding-top: 91px;
    @media (max-width: 767px) {
        padding-top: 60px;
    }
}

.promo {
    background-image: url(../img/jpg/promo-bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    &__container{
        width: 1200px;
        margin: 0 auto;
        padding: 192px 15px 211px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 1199px){
            width: 992px;
        }
        @media (max-width: 991px) {
            width: 768px;
            padding: 88px 15px 100px;
            // aaaaaaaaaaaaaa
        }
        @media (max-width: 767px) {
            width: 100%;
            padding: 60px 15px 60px;
        }
    }
    &__content {
        width: 512px;
        @media (max-width: 767px) {
            max-width: 520px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__subtitle {
        margin-bottom: 12px;
    }
    &__title {
        font-size: 48px;
        margin-bottom: 14px;
        @media (max-width: 767px) {
        }
    }
    &__description {
        font-family: 'Libre Franklin';
        font-size: 16px;
        line-height: 1.62;
        color: #6C6C6C;
        margin-bottom: 50px;
        @media (max-width: 1199px) {
            width: 75%;
        }
        @media (max-width: 991px) {
            width: 50%;
        }
        @media (max-width: 767px) {
            width: 100%;
        }
    }
    &__button {
        display: inline-block;
        padding: 20px 40px;
        background: #AC1313;
        span{
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 12px;
            line-height: 1.83;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
    &__img{
        width: 10%;
        position: relative;
        @media (max-width: 767px) {
            display: none;
        }
        img{
            display: block;
            position: absolute;
            right: -80px;
            top: -65px;
            width: 784px;
            
            @media (max-width: 1199px) {
                right: -80px;
                top: -30px;
                width: 650px;
            }
            @media (max-width: 991px) {
                right: -120px;
                top: 60px;
                width: 550px;
            }
            
        }
    }
}

.categories {
    background-color: #fff;
    &__container {
        margin: 0 auto;
        padding: 120px 15px 80px;
        @media (max-width: 1199px){
            max-width: 992px;
        }
        @media (max-width: 991px) {
            padding: 88px 15px 50px;
        }
        @media (max-width: 767px) {
            padding: 60px 15px 20px;
        }
    }
    &__subtitle {
        margin-bottom: 16px;
        text-align: center;
    }
    &__title {
        text-align: center;
        margin-bottom: 60px;
    }
    &__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 150px;
        margin-bottom: 87px;
        @media (max-width: 1199px) {
            gap: 75px;
            margin-bottom: 60px;
        }
        @media (max-width: 991px) {
            gap: 15px;
            margin: 0 -15px 60px;
        }
        @media (max-width: 767px) {
            margin-bottom: 40px;
        }
    }
    &__item {
        width: 240px;
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (max-width: 991px) {
            &:last-child{
                margin-bottom: 0;
            }
        }
        @media (max-width: 767px) {
            &:last-child{
                margin-bottom: 0;
            }
        }
        &:nth-child(1){
            background-image: url(../img/png/cat-vases.png);
            background-repeat: no-repeat;
            background-size: contain;
        }
        &:nth-child(2){
            background-image: url(../img/png/cat-mugs.png);
            background-repeat: no-repeat;
            background-size: contain;
        }
        &:nth-child(3){
            background-image: url(../img/png/cat-plates.png);
            background-repeat: no-repeat;
            background-size: contain;
        }
        & p{
            font-family: 'Poppins';
            font-size: 14px;
            line-height: 2.71;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
    &__articles {
        display: flex;
        justify-content: center;
        margin: 0 -70px;
        @media (max-width: 1199px) {
            margin: 0 -50px;
        }
        @media (max-width: 991px) {
            margin: 0 -30px;
        }
        @media (max-width: 767px) {
            flex-wrap: wrap;
        }

    }
    &__article {
        margin: 0 70px 50px;
        @media (max-width: 1199px) {
            margin: 0 50px 50px;
        }
        @media (max-width: 991px) {
            margin: 0 30px 50px;
        }
        h3{
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 29px;
            line-height: 1.24;
            color: #000000;
            max-width: 330px;
        }
        p{
            font-family: 'Libre Franklin';
            font-size: 14px;
            line-height: 1.71;
            color: #6C6C6C;
            max-width: 500px;
            text-align:justify;
        }
    }
}

.announce{
    display: block;
}